<!-- BLOG SECTION -->

<section class="bg-[#f8f7f4] py-28">
  <div class="max-w-7xl mx-auto px-6">
    <h2 class="text-center text-6xl font-serif">From Our Blog</h2>

    <p class="text-center text-gray-500 max-w-3xl mx-auto mt-5 text-xl">
      A perfect blend of creativity, energy, communication, happiness and love.
      Let us arrange a smile for you.
    </p>

    <div class="grid lg:grid-cols-3 gap-8 mt-20">
      <!-- BLOG CARD -->

      <div>
        <img src="./images/blog1.webp" class="w-full h-[260px] object-cover" />

        <h3 class="text-3xl font-bold mt-8">Flower Beauty</h3>

        <p class="mt-4 text-[#ff5a4a]">
          <span class="text-gray-600">By </span>Shopify Team HasTheme / August
          12, 2022
        </p>

        <p class="mt-8 text-gray-600 leading-9 text-lg">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incidid...
        </p>

        <div class="border-t mt-10 pt-6 flex justify-between">
          <a class="underline text-gray-500"> Continue Reading </a>

          <span class="text-gray-500"> 💬 0 </span>
        </div>
      </div>

      <!-- BLOG CARD -->

      <div>
        <img src="./images/blog2.jpg" class="w-full h-[260px] object-cover" />

        <h3 class="text-3xl font-bold mt-8">Local Florists</h3>

        <p class="mt-4 text-[#ff5a4a]">
          <span class="text-gray-600">By </span>Shopify Team HasTheme / August
          12, 2022
        </p>

        <p class="mt-8 text-gray-600 leading-9 text-lg">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incidid...
        </p>

        <div class="border-t mt-10 pt-6 flex justify-between">
          <a class="underline text-gray-500"> Continue Reading </a>

          <span class="text-gray-500"> 💬 0 </span>
        </div>
      </div>

      <!-- BLOG CARD -->

      <div>
        <img src="./images/blog3.jpg" class="w-full h-[260px] object-cover" />

        <h3 class="text-3xl font-bold mt-8">Flower Power</h3>

        <p class="mt-4 text-[#ff5a4a]">
          <span class="text-gray-600">By </span>Shopify Team HasTheme / August
          12, 2022
        </p>

        <p class="mt-8 text-gray-600 leading-9 text-lg">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incidid...
        </p>

        <div class="border-t mt-10 pt-6 flex justify-between">
          <a class="underline text-gray-500"> Continue Reading </a>

          <span class="text-gray-500"> 💬 0 </span>
        </div>
      </div>
    </div>
  </div>
</section>
