<!-- FLOWER EXPERTS -->

<section class="max-w-7xl mx-auto px-6 py-28">
  <h2 class="text-center text-6xl font-serif">Flower Experts</h2>

  <p class="text-center text-gray-500 max-w-3xl mx-auto mt-5 text-xl">
    A perfect blend of creativity, energy, communication, happiness and love.
    Let us arrange a smile for you.
  </p>

  <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-10 mt-20">
    <!-- PERSON -->

    <div class="text-center group">
      <div class="overflow-hidden rounded-full w-[220px] h-[220px] mx-auto">
        <img
          src="./images/expert1.jpg"
          class="w-full h-full object-cover rounded-full transition duration-500 group-hover:scale-110"
        />
      </div>

      <h3 class="font-bold text-2xl mt-6">Marcos Alonso</h3>

      <p class="text-gray-500">Biologist</p>
    </div>

    <!-- PERSON -->

    <div class="text-center group">
      <div class="overflow-hidden rounded-full w-[220px] h-[220px] mx-auto">
        <img
          src="./images/expert2.jpg"
          class="w-full h-full object-cover rounded-full transition duration-500 group-hover:scale-110"
        />
      </div>

      <h3 class="font-bold text-2xl mt-6">Shara friken</h3>

      <p class="text-gray-500">Photographer</p>
    </div>

    <!-- PERSON -->

    <div class="text-center group">
      <div class="overflow-hidden rounded-full w-[220px] h-[220px] mx-auto">
        <img
          src="./images/expert3.webp"
          class="w-full h-full object-cover rounded-full transition duration-500 group-hover:scale-110"
        />
      </div>

      <h3 class="font-bold text-2xl mt-6">Torvi greac</h3>

      <p class="text-gray-500">Founder</p>
    </div>

    <!-- PERSON -->

    <div class="text-center group">
      <div class="overflow-hidden rounded-full w-[220px] h-[220px] mx-auto">
        <img
          src="./images/expert4.webp"
          class="w-full h-full object-cover rounded-full transition duration-500 group-hover:scale-110"
        />
      </div>

      <h3 class="font-bold text-2xl mt-6">Alonso Gomej</h3>

      <p class="text-gray-500">Florist</p>
    </div>
  </div>
</section>
