<!-- FEATURES -->
<section class="max-w-7xl mx-auto py-16 px-6">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
    <div class="flex items-start gap-4">
      <img src="./images/delivery.webp" class="w-16" />
      <div>
        <h3 class="font-bold text-xl">Free Delivery</h3>
        <p class="text-gray-500">
          Free shipping around the world for all orders over $120
        </p>
      </div>
    </div>

    <div class="flex items-start gap-4">
      <img src="./images/order.webp" class="w-16" />
      <div>
        <h3 class="font-bold text-xl">Online Order</h3>
        <p class="text-gray-500">
          Don’t worry you can order online by our site
        </p>
      </div>
    </div>

    <div class="flex items-start gap-4">
      <img src="./images/fresh.webp" class="w-16" />
      <div>
        <h3 class="font-bold text-xl">Freshness</h3>
        <p class="text-gray-500">
          You have freshness flowers every single order
        </p>
      </div>
    </div>

    <div class="flex items-start gap-4">
      <img src="./images/artist.webp" class="w-16" />
      <div>
        <h3 class="font-bold text-xl">Made By Artists</h3>
        <p class="text-gray-500">
          World for all made by artists orders over now
        </p>
      </div>
    </div>
  </div>
</section>
