<!-- FEATURED ITEMS -->

<section class="max-w-7xl mx-auto px-6 py-24">
  <h2 class="text-center text-6xl font-serif">Featured Items</h2>

  <p class="text-center text-gray-500 max-w-3xl mx-auto mt-5 text-xl">
    A perfect blend of creativity, energy, communication, happiness and love.
    Let us arrange a smile for you.
  </p>

  <!-- Tabs -->

  <div class="flex justify-center gap-10 mt-10">
    <button class="text-[#ff5a4a] border-b border-[#ff5a4a]">NEW</button>

    <button class="text-[#ff5a4a]">FEATURED</button>

    <button class="text-[#ff5a4a]">BEST SELLERS</button>
  </div>

  <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-8 mt-16">
    <!-- CARD 1 -->

    <div class="text-center">
      <div class="bg-[#f5f5f5] relative p-8">
        <span
          class="absolute top-4 left-4 bg-black text-white px-4 py-1 rounded-full text-sm"
        >
          -34%
        </span>

        <img src="./images/f1.webp" class="h-[280px] mx-auto object-contain" />
      </div>

      <div class="mt-6 text-yellow-400">★★★★☆</div>

      <h3 class="mt-3">Lity Majesty Palm</h3>

      <div class="mt-2">
        <span class="text-red-500 font-bold text-2xl"> $19.00 </span>

        <span class="line-through text-gray-400 ml-2"> $29.00 </span>
      </div>
    </div>

    <!-- CARD 2 -->

    <div class="text-center">
      <div class="bg-[#f5f5f5] relative p-8">
        <span
          class="absolute top-4 left-4 bg-black text-white px-4 py-1 rounded-full"
        >
          -10%
        </span>

        <img src="./images/f2.webp" class="h-[280px] mx-auto object-contain" />
      </div>

      <div class="mt-6 text-yellow-400">★★★★☆</div>

      <h3 class="mt-3">Wild Roses</h3>

      <div class="mt-2">
        <span class="text-red-500 font-bold text-2xl"> $19 </span>

        <span class="line-through text-gray-400"> $21 </span>
      </div>
    </div>

    <!-- CARD 3 -->

    <div class="text-center">
      <div class="bg-[#f5f5f5] relative p-8">
        <span
          class="absolute top-4 left-4 bg-[#ff5a4a] text-white px-4 py-1 rounded-full"
        >
          Soldout
        </span>

        <img src="./images/f3.jpg" class="h-[280px] mx-auto object-contain" />
      </div>

      <div class="mt-6 text-yellow-400">★★★★☆</div>

      <h3 class="mt-3">Spring Snowflake</h3>

      <div class="mt-2">
        <span class="text-red-500 font-bold text-2xl"> $19 </span>

        <span class="line-through text-gray-400"> $29 </span>
      </div>
    </div>

    <!-- CARD 4 -->

    <div class="text-center">
      <div class="bg-[#f5f5f5] relative p-8">
        <span
          class="absolute top-4 left-4 bg-black text-white px-4 py-1 rounded-full"
        >
          -27%
        </span>

        <img src="./images/f4.webp" class="h-[280px] mx-auto object-contain" />
      </div>

      <div class="mt-6 text-yellow-400">★★★★☆</div>

      <h3 class="mt-3">Rock Soapwort</h3>

      <div class="mt-2">
        <span class="text-red-500 font-bold text-2xl"> $55 </span>

        <span class="line-through text-gray-400"> $75 </span>
      </div>
    </div>

    <!-- ROW 2 -->

    <div class="text-center">
      <div class="bg-[#f5f5f5] p-8">
        <img src="./images/f5.webp" class="h-[280px] mx-auto object-contain" />
      </div>

      <div class="mt-6 text-yellow-400">★★★★☆</div>

      <h3 class="mt-3">Sweet Alyssum</h3>

      <div class="mt-2">
        <span class="text-red-500 font-bold text-2xl"> $50 </span>
      </div>
    </div>

    <div class="text-center">
      <div class="bg-[#f5f5f5] relative p-8">
        <span
          class="absolute top-4 left-4 bg-black text-white px-4 py-1 rounded-full"
        >
          -18%
        </span>

        <img src="./images/f6.webp" class="h-[280px] mx-auto object-contain" />
      </div>

      <div class="mt-6 text-yellow-400">★★★★☆</div>

      <h3 class="mt-3">Summer Savory</h3>

      <div class="mt-2">
        <span class="text-red-500 font-bold text-2xl"> $40 </span>

        <span class="line-through text-gray-400"> $85 </span>
      </div>
    </div>

    <div class="text-center">
      <div class="bg-[#f5f5f5] p-8">
        <img src="./images/f4.webp" class="h-[280px] mx-auto object-contain" />
      </div>

      <div class="mt-6 text-yellow-400">★★★★☆</div>

      <h3 class="mt-3">Rock Soapwort</h3>

      <div class="mt-2">
        <span class="text-red-500 font-bold text-2xl"> $50 </span>
      </div>
    </div>

    <div class="text-center">
      <div class="bg-[#f5f5f5] relative p-8">
        <span
          class="absolute top-4 left-4 bg-[#ff5a4a] text-white px-4 py-1 rounded-full"
        >
          Soldout
        </span>

        <img src="./images/f7.webp" class="h-[280px] mx-auto object-contain" />
      </div>

      <div class="mt-6 text-yellow-400">★★★★☆</div>

      <h3 class="mt-3">Majesty Palm</h3>

      <div class="mt-2">
        <span class="text-red-500 font-bold text-2xl"> $19 </span>

        <span class="line-through text-gray-400"> $29 </span>
      </div>
    </div>
  </div>
</section>
