<!-- FOOTER -->

<footer class="bg-[#1f1f1f] text-white">
  <div class="max-w-7xl mx-auto px-6 py-24">
    <div class="grid lg:grid-cols-5 gap-12">
      <!-- LEFT -->

      <div>
        <h2 class="text-6xl font-serif">Kngu.</h2>

        <p class="mt-8 text-gray-300 leading-10">
          A perfect blend of creativity, energy, communication, happiness and
          love. Let us arrange a smile for you.
        </p>

        <div class="flex gap-4 mt-10">
          <div
            class="w-12 h-12 rounded-full bg-white text-black flex items-center justify-center hover:bg-[#ff5a4a] hover:text-white transition"
          >
            <i class="fa-brands fa-facebook-f"></i>
          </div>

          <div
            class="w-12 h-12 rounded-full bg-white text-black flex items-center justify-center hover:bg-[#ff5a4a] hover:text-white transition"
          >
            <i class="fa-brands fa-twitter"></i>
          </div>

          <div
            class="w-12 h-12 rounded-full bg-white text-black flex items-center justify-center hover:bg-[#ff5a4a] hover:text-white transition"
          >
            <i class="fa-brands fa-google"></i>
          </div>

          <div
            class="w-12 h-12 rounded-full bg-white text-black flex items-center justify-center hover:bg-[#ff5a4a] hover:text-white transition"
          >
            <i class="fa-brands fa-youtube"></i>
          </div>
        </div>
      </div>

      <!-- COLUMN -->

      <div>
        <h3 class="font-bold uppercase">Information</h3>

        <ul class="space-y-4 mt-8 text-gray-300">
          <li>Search Terms</li>
          <li>Advanced Search</li>
          <li>Helps & FAQs</li>
          <li>Store Location</li>
          <li>Orders & Returns</li>
        </ul>
      </div>

      <div>
        <h3 class="font-bold uppercase">My Account</h3>

        <ul class="space-y-4 mt-8 text-gray-300">
          <li>Delivery</li>
          <li>Legal Notice</li>
          <li>Secure payment</li>
          <li>Sitemap</li>
          <li>About us</li>
        </ul>
      </div>

      <div>
        <h3 class="font-bold uppercase">Help</h3>

        <ul class="space-y-4 mt-8 text-gray-300">
          <li>FAQ's</li>
          <li>Pricing Plans</li>
          <li>Track</li>
          <li>Your Order</li>
          <li>Returns</li>
        </ul>
      </div>

      <div>
        <h3 class="font-bold uppercase">Customer Service</h3>

        <ul class="space-y-4 mt-8 text-gray-300">
          <li>My Account</li>
          <li>Terms of Use</li>
          <li>Deliveries & Returns</li>
          <li>Gift card</li>
          <li>Legal Notice</li>
        </ul>
      </div>
    </div>

    <!-- bottom -->

    <div
      class="mt-20 pt-10 flex flex-col lg:flex-row justify-between items-center"
    >
      <p class="text-gray-400">Copyright 2026 . All Rights Reserved</p>

      <img src="./images/payment.webp" class="mt-8 lg:mt-0" />
    </div>
  </div>
</footer>
