<!-- HERO -->
<section
  id="hero"
  class="relative h-[640px] bg-cover bg-center duration-500"
  style="background-image: url(&quot;./images/slider.jpg&quot;)"
>
  <!-- left arrow -->
  <button
    id="prevBtn"
    class="absolute left-8 top-1/2 -translate-y-1/2 text-5xl z-10"
  >
    ‹
  </button>

  <!-- content -->
  <div class="max-w-7xl mx-auto h-full px-24 flex items-center">
    <div>
      <div class="flex items-start gap-3 mb-10">
        <div class="w-[2px] h-14 bg-black"></div>

        <p class="text-2xl">
          20% Off For <br />
          New Members
        </p>
      </div>

      <h1 class="text-[70px] leading-none font-medium text-[#303030]">
        HAPPY MOTHER’S DAY!
      </h1>

      <p class="text-3xl mt-6 text-gray-700">Bouquets your mom will love!</p>

      <button
        class="mt-12 bg-[#ff5a4a] text-white px-10 py-5 rounded-full font-bold hover:scale-105 transition"
      >
        START SHOPPING
      </button>
    </div>
  </div>

  <!-- right arrow -->
  <button
    id="nextBtn"
    class="absolute right-8 top-1/2 -translate-y-1/2 text-5xl z-10"
  >
    ›
  </button>
</section>
