<!-- NEWSLETTER -->

<section class="py-28 bg-[#f8f7f4]">
  <div class="max-w-4xl mx-auto text-center px-6">
    <h2 class="text-6xl font-serif text-[#2e2e2e]">Join The Colorful Bunch!</h2>

    <div
      class="mt-20 border-b border-gray-400 flex items-center justify-between pb-5"
    >
      <div class="flex items-center gap-4">
        <span class="text-3xl text-gray-500"> ✉ </span>

        <input
          type="email"
          placeholder="Your email address"
          class="bg-transparent outline-none w-[300px]"
        />
      </div>

      <button class="font-bold text-gray-600">SUBSCRIBE</button>
    </div>
  </div>
</section>
