<!-- TESTIMONIAL SECTION -->

<section class="relative py-24 overflow-hidden bg-[#f8f7f4]">
  <!-- Left flower -->
  <!-- <img src="./images/left-tulip.png" class="absolute bottom-0 left-0 w-64" /> -->

  <!-- Right flower -->
  <!-- <img src="./images/right-tulip.png" class="absolute top-0 right-0 w-64" /> -->

  <!-- Left arrow -->

  <button class="absolute left-32 top-1/2 -translate-y-1/2 text-5xl z-20">
    ‹
  </button>

  <!-- Right arrow -->

  <button class="absolute right-32 top-1/2 -translate-y-1/2 text-5xl z-20">
    ›
  </button>

  <div class="max-w-5xl mx-auto text-center px-6">
    <p class="italic text-[28px] leading-relaxed text-[#303030]">
      Felis eu pede mollis pretium. Nullam dictum felis eu pede mollis pretium.
      Integer tincidunt. Cras dapibus ligula. felis eu pede mollis pretium.
    </p>

    <img
      src="./images/person.webp"
      class="w-24 h-24 rounded-full mx-auto mt-10 object-cover"
    />

    <h3 class="font-bold mt-6 uppercase">TORVI / COO</h3>
  </div>
</section>
